In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('DB_new.csv',encoding='CP949') # 공연 예정, 공연 중인 DB 변수에 저장
data.tail()

,title,type,actor,genres,price
45,Studio Secret Live with WISUE,concert,Wisue,happy|ballad|idol|talk,10000
46,놈X놈,performance,JeonBeomSeok|ChaeInAe|LimJooHyun,magic|fun,10000
47,SMOKE ＆ MIRRORS,performance,ChoiHyunWoo,magic|fun,50000
48,개와 고양이의 시간,musical,SongWonKeun|GoHoonJung,happy|sad|friend,20000
49,Pink of the year,concert,Apink,happy|dance|idol|music,35000

In [3]:
data_old = pd.read_csv('DB_old.csv',encoding='utf-8') # 지난 공연 DB 변수에 저장
data_old.head()

,title,type,actor,genres,price
0,<노래> 앵콜 콘서트,concert,SungSiKyung,music|ballad|artist|sad,121000
1,10cm 2019 겨울콘서트,concert,10cm,ballad|music|band|artist,110000
2,2019 김동률 콘서트 '오래된 노래',concert,KimDongRyul,music|artist|sad|R&B,80000
3,2019 밴드데이,concert,Daybreak|TheSolutions|,band|music,30000
4,2019 부산국제 록페스티벌,concert,AKMU|NELL|PIA|GOD,rock|music|metal,66000

In [4]:
# 사용자가 시청한 공연 목록을 data에 추가 
usr_df = data_old[data_old['title'] == '국카스텐 콘서트 HAPPENING 〈ESCAPE VELOCITY〉']
data = data.append(usr_df,ignore_index=True)

data.tail()

,title,type,actor,genres,price
46,놈X놈,performance,JeonBeomSeok|ChaeInAe|LimJooHyun,magic|fun,10000
47,SMOKE ＆ MIRRORS,performance,ChoiHyunWoo,magic|fun,50000
48,개와 고양이의 시간,musical,SongWonKeun|GoHoonJung,happy|sad|friend,20000
49,Pink of the year,concert,Apink,happy|dance|idol|music,35000
50,국카스텐 콘서트 HAPPENING 〈ESCAPE VELOCITY〉,concert,Guckkasten,rock|band|music,77000

In [5]:
# 데이터 선호도에 따른 필터링을 위한 전처리
num = len(data)

data_genres= data['genres']
genres_list = data_genres[0].split('|')

for i in range (num):
    li2 = data_genres[i].split('|')
    for j in li2:
        if j not in genres_list:
            genres_list.append(j)
            
data_actor= data['actor']
actor_list = data_actor[0].split('|')

for i in range (num):
    li3=data_actor[i].split('|')
    for j in li3:
        if j not in actor_list:
            actor_list.append(j)

In [6]:
for i in range(len(genres_list)):
    data['genres_'+genres_list[i]]=0
    
for i in range(len(actor_list)):
    data['actor_'+actor_list[i]]=0


for i in range (num):
    li2=data_genres[i].split('|')
    for j in li2:
        data.loc[i,['genres_'+j]]=1

for i in range (num):
    li3=data_actor[i].split('|')
    for j in li3:
        data.loc[i,['actor_'+j]]=1

In [7]:
data.head()

,title,type,actor,genres,price,genres_child,genres_happy,genres_fun,genres_car,genres_kids,...,actor_ParkSoHyang,actor_Wisue,actor_JeonBeomSeok,actor_ChaeInAe,actor_LimJooHyun,actor_ChoiHyunWoo,actor_SongWonKeun,actor_GoHoonJung,actor_Apink,actor_Guckkasten
0,ONTACT 체험 뮤지컬 헬로카봇 시즌5 ‘별똥별을 지켜라!’,musical,HelloCarBot,child|happy|fun|car|kids,11000,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,"STUDIO WE : LIVE #5 [ONEWEVE, 두 별빛에 만개한 기억]",concert,Onewe,happy|fun|band,26400,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,JBJ95 4th Mini Album [JASMIN] SHOWCASE,showcase,JBJ95,dance|fun|idol|music|new,10120,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,JBJ95 2nd CONCERT [CELEBRITY PARTY 2019] IN SEOUL,concert,JBJ95,dance|fun|idol|music,26400,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,몬스타엑스 FAN－CON [MX HOME PARTY],concert,MONSTAX,fun|idol|music|talk|game|party,26400,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# 사용자의 원하는 가격대 설정
user_price_min = int(input("Min(0~): "))  #최저 가격
user_price_max = int(input("Max(~300000): "))  #최대 가격

num = len(data) - 1

for i in range(num):  # 설정한 가격대를 벗어난 항목 필터링 
    if data['price'][i] > user_price_max or data['price'][i]< user_price_min:
        data = data.drop(i)

Min(0~): 0
Max(~300000): 300000

In [9]:
# 원하지 않는 장르 제외

user_dislike=input("Dislike genres: ")
dislike="genres_"+user_dislike
if user_dislike == 'none' :
    print("No input")
else:
    data_index=data[data[dislike]==1].index
    data=data.drop(data_index)

data = data.reset_index(drop=True)

Dislike genres:hiphop

In [11]:
# 선호하는 장르에 가중치 부여
num= len(data) - 1

user_genres = input("Like Genres: ")

data_keyword = data['genres']+'|'+data['actor'] 
if user_genres == 'none' :
    print("No input")
else:
    data_genres_input= data['genres_'+user_genres]
    for i in range(num):
        if data_genres_input[i] == 1:
            data_keyword[i]+=('|'+user_genres)*3

Like Genres: band

In [12]:
# 선호하는 출연자에 가중치 부여
user_actor = input("Actor: ")

if user_actor == 'none' :
    print("No input")
else:
    data_actor_input= data['actor_'+user_actor]
    for i in range(num):
        if data_actor_input[i] == 1:
            data_keyword[i]+=('|'+user_actor)*3

Actor: none
No input

In [13]:
# 선호하는 장르가 기존 데이터에 없을 경우 추가 
flag = 1
li = data_keyword[num].split('|')

for i in li:
    if user_genres == 'none' or user_genres == i:
        flag = 0
        break

if flag ==1:
    data_keyword[num]= data_keyword[num]+"|"+user_genres

data_keyword[num]

'rock|band|music|Guckkasten'

In [14]:
# 선호하는 출연자가 기존 데이터에 없을 경우 추가 
flag = 1
li = data_keyword[num].split('|')

for i in li:
    if user_actor == 'none' or user_actor == i :
        flag = 0
        break
        
if flag ==1:
    data_keyword[num]= data_keyword[num]+"|"+user_actor

data_keyword[num]

'rock|band|music|Guckkasten'

In [15]:
# 데이터에 있는 문자 '|'를 ' '(공백)으로 대체
num = num+1
for i in range(num):
    data_keyword[i] = data_keyword[i].replace("|"," ")
    data['genres'][i]=data['genres'][i].replace("|"," ")
    data['actor'][i]=data['actor'][i].replace("|"," ")

In [16]:
#단어 벡터화
from sklearn.feature_extraction.text import CountVectorizer

count_vector = CountVectorizer(analyzer='word', ngram_range=(1, 1))

In [17]:
#코사인 유사도 적용
from sklearn.metrics.pairwise import cosine_similarity

count_matrix = count_vector.fit_transform(data_keyword)
cosine_sim = cosine_similarity(count_matrix, count_matrix).argsort()[:, ::-1]

In [18]:
#추천 알고리즘
def recommendation(db, ontect_title, top=10):
    target_index = db[db['title'] == ontect_title].index.values
    sim_index = cosine_sim[target_index, :top].reshape(-1)
    sim_index = sim_index[sim_index != target_index][:8]
    sim_data=db.iloc[sim_index]

    return sim_data

In [19]:
#추천 공연 추출
recommendation(data, ontect_title='국카스텐 콘서트 HAPPENING 〈ESCAPE VELOCITY〉')

,title,type,actor,genres,price,genres_child,genres_happy,genres_fun,genres_car,genres_kids,...,actor_ParkSoHyang,actor_Wisue,actor_JeonBeomSeok,actor_ChaeInAe,actor_LimJooHyun,actor_ChoiHyunWoo,actor_SongWonKeun,actor_GoHoonJung,actor_Apink,actor_Guckkasten
29,O! NEW E!volution,concert,Onewe,ballad fun band talk rock,33000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"STUDIO WE : LIVE #5 [ONEWEVE, 두 별빛에 만개한 기억]",concert,Onewe,happy fun band,26400,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
18,창작신작 <불꽃놀이>,performance,KwonEunHye,culture music,30000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,굳빠이이상+금란방,musical,ChoiInHyeong KimGeonHye,music dance,25000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,MX HOME PARTY,concert,MonstaX,fun idol music party,26400,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,JBJ95 2nd CONCERT [CELEBRITY PARTY 2019] IN SEOUL,concert,JBJ95,dance fun idol music,26400,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2021 BTOB 4U ONLINE CONCERT,concert,BTOB,dance fun idol music,59000,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,WOODZ : NOT JUST A CONCERT - W BOX,concert,WOODZ,happy fun idol music,35000,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0